{% extends 'base.html.twig' %}

{% block title %}
    FAQ - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">FAQ</li>
{% endblock %}

{% block body %}
    <h1>FAQ <sub>Frequently Asked Questions</sub></h1>

    <div id="accordion" role="tablist" class="mt-4">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="fa fa-question-circle" aria-hidden="true"></span> How to download genomes data?
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h5><span class="badge badge-primary">Answer</span></h5>
                    From the navigation bar, select: Strains > <i>Select your strain</i>. Then at the end of the
                    page, you will find a table with all download links.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="fa fa-question-circle" aria-hidden="true"></span> How to raised the BLAST sequence limit?
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <h5><span class="badge badge-primary">Answer</span></h5>
                    In the BLAST tool, there is a limit of 10100 characters for anonymous users. But this limit can be
                    raised to 50100 characters for users with an account and being logged in (it's free).
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="fa fa-question-circle" aria-hidden="true"></span> How do I change my personal information or password?
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <h5><span class="badge badge-primary">Answer</span></h5>
                    When you are logged in click on: My account > Profile. On this page you will find a button at
                    the top right: Edit, or Change password.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="fa fa-question-circle" aria-hidden="true"></span> How do I delete my account?
                    </a>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <h5><span class="badge badge-primary">Answer</span></h5>
                    When you are logged in click on: My account > Profile. On this page you will find a button at
                    the top right: Delete. On the next page, confirm the deletion by entering your password, the deletion is irreversible.<br>
                    No data are kept after deletion, so you can recreate an account with the same email if you wish.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
