{% extends 'base.html.twig' %}

{% block title %}
    Privacy Policy - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Privacy Policy</li>
{% endblock %}

{% block body %}
    <h1>Cookies</h1>
    <p>To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.</p>

    <h2>What are cookies?</h2>
    <p class="text-justify">A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>

    <h2>How do we use cookies?</h2>
    <p class="text-justify">Explain which cookies you use in plain, jargon-free language. In particular:</p>
    <ul>
        <li><b>Session</b>:<br>
            The session cookie is used to <u>identify the user</u>, on the website. This is the cookie that permit to the site to know if you are an anonymous user,
            or if you are log in. Then it permit our, to give you access the allowed content. This cookie have other utilities: <u>security</u> (it contains a code that give
            your form unique) and is used for the <u>cart</u>, it contains all locus you add in your cart.</li>
        <li><b>Remember Me</b>:<br>
            The Remember Me cookie is used, to <u>keep you logged in</u>, when you check the box "Keep me logged in" on the log in page. That allow you not to have
            re-type your login and paswword every time you close your browser.</li>
    </ul>

    <h2>How to control cookies</h2>
    <p class="text-justify">You can control and/or delete cookies as you wish – for details, see <a href="http://www.aboutcookies.org/">aboutcookies.org</a>. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>
{% endblock %}
