{# app/Ressources/views/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Error 403 - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Error 403 !</li>
{% endblock %}

{% block body %}
    <h1>You shall not pass !</h1>
    <h2>
        Damn fool, this is a restricted area.
    </h2>
    <h3>403 <small>error</small></h3>
{% endblock %}
