{# app/Ressources/views/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Error 404 - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Error 404 !</li>
{% endblock %}

{% block body %}
    <h1>Ooops! You're lost !</h1>
    <h2>
        We are looking for your page...<br>
        but we can't find it !
    </h2>
    <h3>404 <small>error</small></h3>
{% endblock %}
