{# app/Ressources/views/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Error 404 - {{ parent() }}
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}{{ parent() }} <li class="active">Error 404 !</li>{% endblock %}

{% block body %}
    <div class="text-center row">
        <div class="col-md-4">
            <img src="{{ asset('images/404.png') }}" alt="Chuck Norris" width="250" />
        </div>

        <div class="col-md-6">
            <h1 style="font-size: 10em">404<small>error</small></h1>
            <h2 style="font-size: 4em">You're lost...</h2>
            <h3>Chuck Norris is gone to look for the page.</h3>
        </div>
    </div>
{% endblock %}
