{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">User list</li>
{% endblock %}


{% block body %}
    <div class="row">
        <form id="user-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="user-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-1">
                <button id="type-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            var processing = false;
            var search = $('#user-search-field');
            var team = $('#user-team-field');

            search.keyup(function() {
                history.replaceState('', '', Routing.generate('user_index', { q: search.val(), p: 1 }));

                delay(function(){
                    $.ajax({
                        type: 'GET',
                        url: Routing.generate('user_index_ajax', { q: search.val(), p: 1 }),
                        dataType: 'html',
                        delay: 400,
                        beforeSend: function() {
                            if (processing) {
                                return false;
                            } else {
                                processing = true;
                            }
                        },
                        success: function (html) {
                            $('#user-list').replaceWith(html);
                            processing = false;
                        }
                    });
                }, 400 );
            });
        });
    </script>
{% endblock %}
