.dockerignore
.git/
.gitignore
.idea
.php_cs.cache
.php_cs.dist
AAA/
app/config/parameters.yml
bower.json
Dockerfile
README.md
_config.yml
bower_components/
deploy.js
docker-compose*
files/
Gruntfile.js
node_modules/
package.json
var/cache/*
var/logs/*
vendor/
