/.git
/.idea
/docker
/files/*
/node_modules
/public/build
/public/bundles
/var
/vendor
.dockerignore
.editorconfig
.env.dist
.gitignore
.php_cs_dist
.travis.yml
bump-version.sh
docker-compose.ci.yml
docker-compose.override.yml.dist
docker-compose.yml
Dockerfile
favicon.xcf
logo.xcf
Makefile
package.json
phpunit.xml.dist
README.md
symfony.lock
webpack.config.js
yarn.lock
