/app/config/parameters.yml
/node_modules
.php_cs.cache
/phpunit.xml
/files/*
!/files/blast
/files/blast/*
!/files/blast/.gitkeep
!/files/flatFiles
/files/flatFiles/*
!/files/flatFiles/.gitkeep
!/files/temp
/files/temp/*
!/files/temp/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!var/SymfonyRequirements.php
/vendor
/web/bundles
/web/sitemap*
