/app/config/parameters.yml
/node_modules
.php_cs.cache
/phpunit.xml
/files/*
!/files/blast
/files/blast/*
!/files/blast/.gitkeep
!/files/flat
/files/flat/*
!/files/flat/.gitkeep
!/files/temp
/files/temp/*
!/files/temp/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor
/web/build
/web/bundles
/web/sitemap*
