/app/config/parameters.yml
/build/
/phpunit.xml
/protected-files/*
!/protected-files/flatFiles
/protected-files/flatFiles/*
!/protected-files/flatFiles/.gitkeep
!/protected-files/temp
/protected-files/temp/*
!/protected-files/temp/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/compiled/*
!/web/compiled/css
/web/compiled/css/*
!/web/compiled/js
/web/compiled/js/*
docker-compose.yml
