version: '2'

services:
    nginx:
        container_name: gryc-prod-nginx
        ports:
            - 127.0.0.1:8082:80
        volumes_from:
            - app

    app:
        container_name: gryc-prod-app
        volumes:
            - ./files:/var/www/html/files:rw
            - ./app/config/parameters.yml:/var/www/html/app/config/parameters.yml:ro

    redis:
        container_name: gryc-prod-redis

    db:
        container_name: gryc-prod-db
        environment:
            - MYSQL_ROOT_PASSWORD=gryc
            - MYSQL_USER=gryc
            - MYSQL_PASSWORD=gryc
            - MYSQL_DATABASE=gryc

    es:
        container_name: gryc-prod-elasticsearch
        volumes:
            - es1_data:/usr/share/elasticsearch/data

    rabbitmq:
        container_name: gryc-prod-rabbitmq
        environment:
            - RABBITMQ_DEFAULT_USER=gryc
            - RABBITMQ_DEFAULT_PASS=gryc
