version: '2'

services:
    nginx:
        build: ./docker/nginx
        networks:
            - default

    app:
        image: mpiot/grycii:latest
        networks:
            - default

    redis:
        image: redis:3.2.9
        networks:
            - default

    db:
        image: mariadb:10.3.0
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - default

    es:
        build: ./docker/elasticsearch
        environment:
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        cap_add:
            - IPC_LOCK
        volumes:
            - es_data:/usr/share/elasticsearch/data
        networks:
            - default

    rabbitmq:
        image: rabbitmq:3.6.10-management
        networks:
            - default

volumes:
    db_data:
        driver: local
    es_data:
        driver: local

networks:
    default:
