{% extends 'base.html.twig' %}

{% block title %}
The yeast genomes database - {{ parent() }}
{% endblock %}

{% block metaTags %}
    {{ parent() }}
    <meta name="description" content="GRYC is a database dedicated to yeast genomics. It is part of iGenolevures resources." />
{% endblock %}

{% block breadcrumb %}<li class="active">Home</li>{% endblock %}

{% block body %}
<h1>GRYC - Yeast genomes database</h1>

<h2>Presentation</h2>
<p>GRYC (for <strong>Genome Resources for Yeast Chromosomes</strong>) provides annotated sequence data for the genomes of basidio and ascomycete yeasts.
    A particular attempt is made to propose high quality genome annotations (possibly with manual curations).</p>

<p>The resources currently provided include genetic element pages, data sets for downloading, quick and advanced searches,
    facilities for BLAST comparisons (powered by BLAST+ suite) and a genome browser (powered by JBrowse from GMOD).</p>

<h3>iGenolevures</h3>
<p>GRYC will be part of the <a href="http://www.igenolevures.org">iGenolevures</a> web resources.</p>

<h2>Available species</h2>
<p>The current release of GRYC contains the following species/strains of yeast:</p>
<ul>
    {% for species in speciesList %}
        {% for strain in species.strains %}
            <li>{{ species.scientificname }} {{ strain.name }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
