#FOSElasticaBundle
fos_elastica:
    clients:
        default:
            connections:
                - url: '%env(ELASTICSEARCH_URL)%'
            connectionStrategy: RoundRobin

    indexes:
        app:
            client: default
            finder: ~
            settings:
                index:
                    analysis:
                        analyzer:
                            search:
                                type: custom
                                tokenizer: standard
                                filter: [asciifolding, lowercase]
                            edge_ngram:
                                type: custom
                                tokenizer: standard
                                filter: [asciifolding, lowercase, edge_ngram]
                            edge_ngram_locus_name:
                                type: custom
                                tokenizer: standard
                                filter: [asciifolding, lowercase, edge_ngram_locus_name]
                            english_light:
                                type: custom
                                tokenizer: standard
                                filter: [asciifolding, lowercase]
                            english_heavy:
                                type: custom
                                tokenizer: standard
                                filter: [asciifolding, lowercase, english_stemmer]
                        filter:
                            edge_ngram:
                                type: edgeNGram
                                side: front
                                min_gram: 1
                                max_gram: 30
                            edge_ngram_locus_name:
                                type: edgeNGram
                                side: front
                                min_gram: 7
                                max_gram: 30
                            english_stemmer:
                                type: stemmer
                                name: light_english
            types:
                user:
                    properties:
                        email:
                            type:                   text
                            fields:
                                ngramed:
                                    type:             text
                                    analyzer :        edge_ngram
                                    search_analyzer:  search
                        fullName:
                            type:                   text
                            fielddata:  true
                            fields:
                                ngramed:
                                    type:             text
                                    analyzer :        edge_ngram
                                    search_analyzer:  search
                    persistence:
                        driver:                 orm
                        model:                  AppBundle\Entity\User
                        provider:               ~
                        listener:               ~
                        finder:                 ~
                        repository:             AppBundle\SearchRepository\UserRepository
                        elastica_to_model_transformer:
                            ignore_missing: true

                strain:
                    properties:
                        id:
                        public:
                        authorizedUsersId:
                    persistence:
                        driver:                 orm
                        model:                  AppBundle\Entity\Strain
                        provider:               ~
                        listener:
                            insert:             true
                            update:             true
                            delete:             false
                        finder:                 ~
                        repository:             AppBundle\SearchRepository\StrainRepository
                        elastica_to_model_transformer:
                            ignore_missing: true

                locus:
                    properties:
                        name:
                            type:                   text
                            fields:
                                ngramed:
                                    type:             text
                                    analyzer :        edge_ngram_locus_name
                                    search_analyzer:  search
                        annotation:
                            type:                     object
                        note:
                            type:                     text
                            analyzer:                 english_light
                            fields:
                                stemmed:
                                    type:     text
                                    analyzer: english_heavy
                        features:
                            type: nested
                            properties:
                                name:
                                    type:                   text
                                    fields:
                                        ngramed:
                                            type:             text
                                            analyzer :        edge_ngram_locus_name
                                            search_analyzer:  search
                                annotation:
                                    type:             object
                                note:
                                    type:             text
                                    analyzer:         english_light
                                    fields:
                                        stemmed:
                                            type:     text
                                            analyzer: english_heavy
                                products:
                                    type: nested
                                    property_path: productsFeatures
                                    properties:
                                        name:
                                            type:                   text
                                            fields:
                                                ngramed:
                                                    type:             text
                                                    analyzer :        edge_ngram_locus_name
                                                    search_analyzer:  search
                                        annotation:
                                            type:             object
                                        note:
                                            type:             text
                                            analyzer:         english_light
                                            fields:
                                                stemmed:
                                                    type:     text
                                                    analyzer: english_heavy
                    _parent:
                        type: "strain"
                        property: "chromosome.strain"
                        identifier: "id"
                    persistence:
                        driver:                 orm
                        model:                  AppBundle\Entity\Locus
                        provider:               ~
                        listener:
                            insert:             true
                            update:             true
                            delete:             false
                        finder:                 ~
                        repository:             AppBundle\SearchRepository\LocusRepository
                        elastica_to_model_transformer:
                            ignore_missing: true
                            query_builder_method: createSearchQueryBuilder
