# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     db
    database_port:     3306
    database_name:     grycii
    database_user:     grycii
    database_password: grycii

    mailer_transport:  gmail
    mailer_host:       ~
    mailer_user:       mgm.agroparistech
    mailer_password:   nL83Cer8

    # A secret key that's used to generate certain security-related tokens
    secret:            p7wfRcjk8aU9WnLP26SpA3p8wB8Cpy5E8LkU26YvH9Kdn8E5N48H333i8cH8cLuV
