# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     db
    database_port:     ~
    database_name:     grycii
    env(DATABASE_USER): grycii
    env(DATABASE_PASSWORD): grycii

    # The redis host
    env(REDIS_HOST): redis

    # The Elasticsearch host
    elasticsearch_host: es1
    elasticsearch_port: ~

    # The mailer configuration
    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # The ReCaptcha API key
    recaptcha_public_key:    ~
    recaptcha_private_key:   ~

    # When PHP need to manipulate complete Genome, the memory usage is important, set the max memory allocated for this operations
    genomes_memory_limit: 512M
