# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    app.mailer:
        class: AppBundle\Utils\Mailer
        arguments: ["@mailer", "@templating"]

    app.twig_extension:
        class: AppBundle\Utils\SlugifyExtension
        public: false
        tags:
          - { name: twig.extension }

    app.token_generator:
        class: AppBundle\Utils\TokenGenerator

    app.password_updater:
        class: AppBundle\Utils\PasswordUpdater
        arguments: ["@security.password_encoder"]

    app.user_manager:
        class: AppBundle\Utils\UserManager
        arguments: ["@app.password_updater", "@doctrine.orm.entity_manager"]

# Doctrine's listeners and subscribers
    app.event_listener.user:
        class: AppBundle\EventListener\UserSubscriber
        arguments: ["@app.password_updater", "@app.token_generator"]
        tags:
            - { name: doctrine.event_subscriber }

# Voters
    app.voter.strain:
        class: AppBundle\Security\StrainVoter
        arguments: ["@security.access.decision_manager"]
        tags:
            - { name: security.voter }
        public: false
