{# app/Ressources/views/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block metaTags %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Administration</li>
{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User management</h3>
        </div>
        <div class="list-group">
            <a href="{{ path('user_list') }}" class="list-group-item">Rights and roles management</a>
        </div>
    </div>
{% endblock %}
