{% extends 'base.html.twig' %}

{% block title %}
    Download genomes
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Download genomes</li>
{% endblock %}

{% block body %}
    <h1>Download yeasts genomes</h1>
    <p>
        This page present all the available strains of yeast, there is a link on each strain of the genomic database.
        On the strain page there are links to download files CDS (nuc and prot) and chromosomes (EMBL and FASTA), and some informations about the genome.
    </p>

    {% include 'strain/_list.html.twig' %}
{% endblock %}
