@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

/* Body
-------------------------------------------------- */
html, body {
    height:100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
}

/* Header
-------------------------------------------------- */
#js-disclaimer {
    margin-bottom: 0;
}

header {
    /* Set the fixed height of the header here */
    height: 150px;
    padding: 25px 0;
    /* Set the background of the header here */
    background: #527EB1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFFFFF , #527EB1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFFFFF, #527EB1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF, #527EB1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFFFFF , #527EB1); /* Standard syntax */
}

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 1rem;
}

/* Print
-------------------------------------------------- */
@media print {
    a[href]:after {
        content: none !important;
    }
}

/* BLAST Sidebar
-------------------------------------------------- */
nav#blast-scrollspy {
    position: sticky;
    top: 70px;
    z-index: 1000;
}

nav#blast-scrollspy nav nav {
    display: none;
}

nav#blast-scrollspy nav a.active {
    /*font-weight: bold;*/
}

nav#blast-scrollspy nav a.active + nav {
    display: block;
}

nav#blast-scrollspy nav a.active + nav a {
    display: none;
}

nav#blast-scrollspy nav a.active + nav a.active,
nav#blast-scrollspy nav a.active + nav a.display
{
    display: block;
}

nav#blast-scrollspy nav a.active + nav a.active {
    border-left: 2px solid #337ab7;
}

/* Sticky footer
-------------------------------------------------- */
footer {
    color: #FFFFFF;
    background-color: #527EB1;
    padding: 17px 0 17px 0;
}

footer a {
    color: #FFFFFF;
}

footer a:hover,
footer a:active {
    color: #FFFFFF;
    text-decoration: underline !important;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
}

/* Red * after required label
-------------------------------------------------- */
.form-group > label.required:after,
.form-group > legend.required:after {
    content: " *";
    color: red;
}

/* anchors
-------------------------------------------------- */
.anchor {
    display: block;
    height: 60px; /*same height as header*/
    margin-top: -60px; /*same height as header*/
    visibility: hidden;
}

/* Sequence display
-------------------------------------------------- */
.fasta {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.fasta .header {
    display: block;
}

.stream {
    color: darkgrey;
}

.utr {
    color: forestgreen;
}

.exon {
    color: dodgerblue;
}

.intron {
    color: #c0504d;
}

@media screen, print {
    .stream {
        color: darkgrey !important;
        -webkit-print-color-adjust: exact;
    }

    .utr {
        color: forestgreen !important;
        -webkit-print-color-adjust: exact;
    }

    .exon {
        color: dodgerblue !important;
        -webkit-print-color-adjust: exact;
    }

    .intron {
        color: #c0504d !important;
        -webkit-print-color-adjust: exact;
    }
}

/* FASTA sequence legend */
ul.fasta-legend  {
    list-style-type: none;
    padding: 0;
}

ul.fasta-legend li {
    padding-left: 1.3em;
}

ul.fasta-legend li:before {
    content: "\f0c8"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

/* Sequence Alignment Display
-------------------------------------------------- */
.alignment {
    font-family: 'Cousine', monospace;
}

.alignment .alignment-row {
    margin-bottom: 15px;
}

.alignment .sequence-row {
    margin-bottom: -5px;
    padding: 0;
}

.alignment .sequence-name {
    white-space: pre;
}

.alignment .sequence-position {
    white-space: pre;
}

@media screen, print {
    .alignment .identities-100 {
        color: white !important;
        background-color: #3c3c3c !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .identities-80 {
        color: white !important;
        background-color: #737373 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .identities-60 {
        color: black !important;
        background-color: #d3d3d3 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-basic {
        background-color: #57c4f2 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-nonpolar {
        background-color: #bbe4fa !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-polar {
        background-color: #f7d5e3 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-acidic {
        background-color: #e4008c !important;
        -webkit-print-color-adjust: exact;
    }
}

/* BLAST
-------------------------------------------------- */
.blast-alignment {
    font-family: 'Cousine', monospace;
    font-size: 14px;
    word-break: break-all;
    margin-bottom: 50px;
}

.blast-alignment .alignment-row {
    margin-bottom: 10px;
}

/*
 * Query Forms
 */
.fasta-input {
    font-family: 'Cousine', monospace;
}
