// Because we disable resolveUrlLoader, we need to override the fonts location
$fa-font-path: "~font-awesome/fonts";

@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

/* HTML and Body
-------------------------------------------------- */
html {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by primary navbar height */
  margin-top: 2.5rem;
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

/* Header
-------------------------------------------------- */
#js-disclaimer {
    margin-bottom: 0;
}

header {
    /* Set the fixed height of the header here */
    height: 150px;
    padding: 25px 5px;
    /* Set the background of the header here */
    background: $gryc-blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $white , $gryc-blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $white, $gryc-blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $white, $gryc-blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $white , $gryc-blue); /* Standard syntax */
}

/* Sticky navbar
-------------------------------------------------- */
#primary-navbar {
  height: 2.5rem;
}

#secondary-navbar {
  top: 2.5rem;
  margin-bottom: 1rem;
}

/* Sticky footer
-------------------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  color: $white;
  background-color: $gryc-blue;
  padding: 10px 0;
}

footer a {
  color: $white;
}

footer a:hover,
footer a:active {
  color: $white;
  text-decoration: underline !important;
}

/* Print
-------------------------------------------------- */
@media print {
    a[href]:after {
        content: none !important;
    }
}

/* BLAST Sidebar
-------------------------------------------------- */
nav#blast-scrollspy {
    position: sticky;
    top: 7rem;
    z-index: 1000;
}

nav#blast-scrollspy nav nav {
    display: none;
}

nav#blast-scrollspy nav a.active + nav {
    display: block;
}

nav#blast-scrollspy nav a.active + nav a {
    display: none;
}

nav#blast-scrollspy nav a.active + nav a.active,
nav#blast-scrollspy nav a.active + nav a.display
{
    display: block;
}

nav#blast-scrollspy nav a.active + nav a.active {
    border-left: 2px solid $blue;
}

/* Red * after required label and private strains
-------------------------------------------------- */
.form-group > label.required:after,
.form-group > legend.required:after,
.private-strain:after {
    content: " *";
    color: $red;
}

/* anchors
-------------------------------------------------- */
.anchor {
    display: block;
    height: 7rem; /*same height as header*/
    margin-top: 7rem; /*same height as header*/
    visibility: hidden;
}

/* Form spotlight
-------------------------------------------------- */
.form-spotlight {
  padding: 0.5rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
  border-left-color: theme-color("primary");
}

/* Sequences
-------------------------------------------------- */

/* Sequence display
-------------------------------------------------- */
.fasta {
    font-family: Cousine, monospace;
    font-size: 18px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.fasta .header {
    display: block;
}

.stream {
    color: $sequence-stream-color;
}

.utr {
    color: $sequence-utr-color;
}

.exon {
    color: $sequence-exon-color;
}

.intron {
    color: $sequence-intron-color;
}

@media screen, print {
    .stream {
        color: $sequence-stream-color !important;
        -webkit-print-color-adjust: exact;
    }

    .utr {
        color: $sequence-utr-color !important;
        -webkit-print-color-adjust: exact;
    }

    .exon {
        color: $sequence-exon-color !important;
        -webkit-print-color-adjust: exact;
    }

    .intron {
        color: $sequence-intron-color !important;
        -webkit-print-color-adjust: exact;
    }
}

/* FASTA sequence legend */
ul.fasta-legend  {
    list-style-type: none;
    padding: 0;
}

ul.fasta-legend li {
    padding-left: 1.3em;
}

ul.fasta-legend li:before {
    content: "\f0c8"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

/* Sequence Alignment Display
-------------------------------------------------- */
.alignment {
    font-family: Cousine, monospace;
}

.alignment .alignment-row {
    margin-bottom: 15px;
}

.alignment .sequence-row {
    margin-bottom: -5px;
    padding: 0;
}

.alignment .sequence-name {
    white-space: pre;
}

.alignment .sequence-position {
    white-space: pre;
}

@media screen, print {
    .alignment .identities-100 {
        color: $white !important;
        background-color: $gray-900 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .identities-80 {
        color: $white !important;
        background-color: $gray-700 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .identities-60 {
        color: $black !important;
        background-color: $gray-400 !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-basic {
        background-color: $protein-similarities-basic !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-nonpolar {
        background-color: $protein-similarities-nonpolar !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-polar {
        background-color: $protein-similarities-polar !important;
        -webkit-print-color-adjust: exact;
    }

    .alignment .similarities-acidic {
        background-color: $protein-similarities-acidic !important;
        -webkit-print-color-adjust: exact;
    }
}

/* BLAST
-------------------------------------------------- */
.blast-alignment {
    font-family: Cousine, monospace;
    font-size: 14px;
    word-break: break-all;
    margin-bottom: 50px;
}

.blast-alignment .alignment-row {
    margin-bottom: 10px;
}

/*
 * Query Forms
 */
.fasta-input {
    font-family: Cousine, monospace;
}
