{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Edit my password - {{ parent() }}{% endblock %}

{% block breadcrumb %}{{ parent() }} <li><a href="{{ path('fos_user_profile_show') }}">My profile</a></li> <li>Edit my password</li>{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
