<p>
    <span style="text-decoration: underline;">Category:</span> {{ data.category }}<br>
    <span style="text-decoration: underline;">Subject:</span> {{ data.subject }}<br>
    <span style="text-decoration: underline;">Message:</span><br>
    {{ data.message|nl2br }}
</p>
