{% set resettingLink = url('user_resetting', { 'username': user.username|url_encode, 'token': user.confirmationToken|url_encode }) %}

<p>
    Hi {{ user.firstName }} {{ user.lastName }},<br>
    To reset your password, you need to follow this link and type a new password.
</p>

<p>
    <a href="{{ resettingLink }}">Reset password</a>
</p>

<p>
    If the link above doesn't work, thanks to copy/paste this link in your browser:
    {{ resettingLink }}
</p>

<p>
    Best regards,<br>
    The GRYC team
</p>
