{% set activationLink = url('user_activation', { 'token': user.confirmationToken }) %}

<p>
    Hi {{ user.firstName }} {{ user.lastName }},<br />
    We confirm your registration on GRYC !<br />
    Before start to use GRYC you need to confirm your email to validate your account.<br />
</p>

<p>
    <a href="{{ activationLink }}">Confirm my email</a>
</p>

<p>
    If the link above doesn't work, thanks to copy/paste this link in your browser:
    {{ activationLink }}
</p>

<p>
    Best regards,<br>
    The GRYC team
</p>
