{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Forgetten password - {{ parent() }}{% endblock %}

{% block breadcrumb %}{{ parent() }} <li class="active">Forgetten password</li>{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
