{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Ask new password</li>
{% endblock %}


{% block body %}
    {{ form_start(form, { 'attr': { 'class': 'recaptcha-form' } }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
