{# app/Ressources/views/search/quickSearchForm.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {'attr': {'class': 'navbar-form navbar-left', 'role': 'search'}}) }}
<div class="form-group">
    {{ form_widget(form.search) }}
</div>
    {{ form_widget(form.submit, {'attr': {'class': 'btn-default'}}) }}
{{ form_end(form) }}
